:root {
  --cor-azul-petroleo: #164792;
}

* {
  padding: 0;
  margin: 0;
  font-size: Helvetica;
  box-sizing: border-box;
}

h1 {
  color: var(--cor-azul-petroleo);
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight: bold;
  color: var(--cor-azul-petroleo);
}
