<div id="container-error">
  <h1 id="error-title">Erro</h1>
  <p id="error-description">Página não encontrada &#58;&#40;</p>
  <a href="/"><button class="form-btn" id="back-err-btn">Voltar</button></a>
</div>