/* TEMPLATES */

:root {
  --bg-color: #222;
  --orange-base-color: #F6982D;
  --f-m-bg-color: #CCE5FF;
  --f-m-color: #004085;
  --f-m-border-color: #B8DAFF;
}

/* GENERAL SETTINGS */

* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: white;
}

/* NAVBAR */
#logo img {
  height: 40px;
}

#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--orange-base-color);
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  transition: .5s;
}

#navbar ul li a:hover {
  color: var(--orange-base-color);
}

/* CONTAINER */
.container {
  min-height: 60vh;
  padding: 2em;
}

/* FLASH MESSAGES */
.message {
  padding: 1em;
  color: var(--f-m-color);
  background-color: var(--f-m-bg-color);
  border: 1px solid var(--f-m-border-color);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}

/* LOGIN AND REGISTER */
.auth-container {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  margin-bottom: 1em;
  color: white;
  border-left: 4px solid var(--orange-base-color);
  padding: .3em;
  width: 100px;
}

.auth-container a {
  color: var(--orange-base-color);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: .5em;
}

.form-control input, 
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid var(--orange-base-color);
}

.form-control input:focus, 
.form-control textarea:focus {
  outline: none;
  border: 1px solid white;
} 

form input[type="submit"],
.btn {
  background-color: transparent;
  color: var(--orange-base-color);
  border: 2px solid var(--orange-base-color);
  padding: .5em 1.2em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: .5s;
}

form input[type="submit"]:hover,
.btn:hover {
  background-color: var(--orange-base-color);
  color: var(--bg-color);
}

/* FOOTER */
footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--orange-base-color);
}

footer span {
  font-weight: bold;
}
