/* TEMPLATES */

:root {
  --bg-color: #222;
  --orange-base-color: #F6982D;
}

/* GENERAL SETTINGS */

* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: white;
}

/* NAVBAR */
#logo img {
  height: 40px;
}

#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--orange-base-color);
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  transition: .5s;
}

#navbar ul li a:hover {
  color: var(--orange-base-color);
}

/* CONTAINER */
.container {
  min-height: 60vh;
  padding: 2em;
}

/* FOOTER */
footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--orange-base-color);
}

footer span {
  font-weight: bold;
}
