<h1>Olá, mundo</h1>
<p>
  Olá, <strong>{{user.name}} {{user.surname}}</strong>!
</p>
<p>
  Você tem <strong>{{user.age}} anos!</strong>
</p>

{{#if approved}}
  <p>Parabéns, seu cadastro foi <strong>aprovado</strong>!</p>
{{else}}
  <p>O seu cadastro precisa de aprovação para ter acesso total ao sistema.</p>
{{/if}}

{{#if auth}}
  <p>
    Você está autenticado. <a href="/dashboard">Clique aqui</a> para acessar a área de membros!
  </p>
{{/if}}