<h1>Criar Produto</h1>
<form action="/products/create" method="POST">
  <div class="form-control">
    <label for="name">Nome do produto:</label>
    <input type="text" name="name" id="name" placeholder="Digite o nome do produto">
  </div>
  <div class="form-control">
    <label for="image">Imagem do produto:</label>
    <input type="text" name="image" id="image" placeholder="Insira a url da imagem">
  </div>
  <div class="form-control">
    <label for="price">Preço do produto:</label>
    <input type="text" name="price" id="price" placeholder="Digite o preço do produto">
  </div>
  <div class="form-control">
    <label for="description">Descrição do produto:</label>
    <textarea name="description" id="description" placeholder="Digite a descrição do produto"></textarea>
  </div>
  <input type="submit" class="btn" value="Cadastrar">
</form>