<div id="container-error">
  <h1 id="error-title">Erro</h1>
  <p id="error-description">Infelizmente não encontramos a página que você procura...</p>
  <a href="/"><button id="back-err-btn">Voltar</button></a>
</div>